/* inicio.css */

/* 1. Fondo General */
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #ECF0F1; /* Gris muy suave, más limpio */
}

/* 2. Panel Superior (Header) */
.header-panel {
    -fx-background-color: #2C3E50; /* Azul noche */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

/* 3. Títulos */
.titulo-principal {
    -fx-text-fill: #F1C40F; /* Amarillo PopCorn */
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 2, 0, 1, 1);
}

.subtitulo {
    -fx-text-fill: #BDC3C7; /* Gris plateado */
    -fx-font-size: 14px;
}

/* 4. Inputs (Campos de texto) */
.input-field {
    -fx-background-color: white;
    -fx-background-radius: 20px; /* Bordes redondeados modernos */
    -fx-border-color: #BDC3C7;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-padding: 8px 15px;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #95A5A6;
}

.input-field:focused {
    -fx-border-color: #2980B9; /* Azul al hacer clic */
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(41, 128, 185, 0.2), 5, 0, 0, 0);
}

/* 5. Etiquetas de campo (Arriba de los inputs) */
.label-campo {
    -fx-text-fill: #2C3E50;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

/* 6. Botón de Iniciar Sesión */
.btn-primary {
    -fx-background-color: #2C3E50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 2);
}

.btn-primary:hover {
    -fx-background-color: #34495E; /* Un poco más claro */
    -fx-text-fill: #F1C40F; /* Texto amarillo al pasar el mouse */
}

.btn-primary:pressed {
    -fx-background-color: #1A252F; /* Muy oscuro al hacer clic */
    -fx-translate-y: 1; /* Efecto de hundimiento */
}

/* 7. Mensaje de Error */
.label-error {
    -fx-text-fill: #E74C3C; /* Rojo suave */
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* 8. Link de Registro */
.link-registro {
    -fx-text-fill: #2980B9;
    -fx-font-size: 13px;
    -fx-border-color: transparent;
    -fx-underline: false;
}

.link-registro:hover {
    -fx-text-fill: #E67E22; /* Naranja al pasar el mouse */
    -fx-underline: true;
}