/* pedidos.css */

/* 1. Fondo General */
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: #ECF0F1; /* Gris suave */
}

/* 2. Barra Lateral (Sidebar) */
.sidebar {
    -fx-background-color: #2C3E50; /* Azul oscuro */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
    -fx-padding: 20 0 20 0;
}

/* 3. Iconos de la Barra Lateral */
.sidebar-icon {
    -fx-cursor: hand;
    -fx-opacity: 0.7;
    -fx-transition: all 0.3s;
}

/* 4. Encabezado */
.header-container {
    -fx-padding: 20 0 10 0;
}

.titulo-seccion {
    -fx-text-fill: #2C3E50;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.subtitulo-seccion {
    -fx-text-fill: #7F8C8D;
    -fx-font-size: 16px;
}

/* 5. ScrollPane (El contenedor que permite bajar si hay muchas compras) */
.scroll-transparente {
    -fx-background-color: transparent;
    -fx-background: transparent; /* Importante para quitar el gris de fondo de JavaFX */
    -fx-border-color: transparent;
}

.scroll-transparente > .viewport {
    -fx-background-color: transparent;
}

/* 6. FlowPane (Donde están las tarjetas) */
.flow-compras {
    -fx-padding: 10;
    -fx-hgap: 20;
    -fx-vgap: 20;
}